.newInstance {
	float: left;
}

.newInstance li {
	list-style: none;
	margin: 0 0 4px;
	overflow: auto;
	width: 280px;
}

.newInstance label {
	text-align: right;
	display: block;
}

.newInstance input {
	margin-left: 12px;
}

.newInstance button {
	float: right;
}

@media all and (max-width: 600px) {
	.newInstance, .instanceList {
		float: none;
	}
}