/* #toolbar styles here */
#toolbar {
	overflow: auto;
	width: 100%;
	line-height: 42px;
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
}

#toolbar h1 {
	margin: 0 0 0 18px;
	float: left;
}

#toolbar nav {
	float: right;
}

#toolbar li {
	display: inline-block;
}

#toolbar li a {
	color: #049;
	display: block;
	padding: 0 8px;
	text-decoration: none;
}

#toolbar .selected a {
	color: #000;
	background: #fff;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}