<ul class="editInstance">
	<li><label>Label<input class="label" value="{{label}}"></label></li>
	<li><label>Host/IP<input class="host" value="{{host}}"></label></li>
	<li><label>Port<input class="port" value="{{port}}"></label></li>
	<li><button class="save">Save instance</button></li>
</ul>