<ul class="instanceList">
{{#unless this.length}}
	<li>No instances.</li>
{{/unless}}
{{#each this}}
	<li class="{{isActive}}">
		{{label}} ({{host}}:{{port}})
		<a class="set-active">[set active]</a>
		<a class="edit">[edit]</a>
		<a class="remove">[remove]</a>
	</li>
{{/each}}
</ul>